######################################################
#
#  Fichier de règles. Si vous ne specifiez pas d'attribut pour un capteur, prend le 1er.
#
#  Format:
#
#  rule:
#  	nomRegle
#  conditions:
#  	idCapteur operateur valeur
#  	nomCapteur.attributCapteur operateur valeur
#  actions:
#  	nomAction
#  ...
#  
#####################################################


rule:	
	allumeLampe
conditions:	
	bascule.switchButton==0
actions:
	ToutOuvrir
	
rule:	
	allumeLampe
conditions:	
	bascule.switchButton==1
actions:
	ToutFermer

rule:	
	temperature
conditions:	
	salon<15
	intrusion.presence<=20
	intrusion.luminosite<=20
actions:
	ToutOuvrir
	
rule:
	cafe
conditions:
	aileEst<=5	
	aileOuest==35
actions:
	ToutOuvrir
