######################################################
#
#  Fichier de règles. Si vous ne specifiez pas d'attribut pour un capteur, prend le 1er.
#
#  Format:
#
#  rule:
#  	nomRegle
#  conditions:
#  	idCapteur operateur valeur
#  	nomCapteur.attributCapteur operateur valeur
#  actions:
#  	nomAction
#  ...
# 
#   operateur de temps:
#       -gt Greater than
#       -lt Lower than
#
#####################################################


rule:	
	byebye
conditions:	
	bascule.switchButton==4
actions:
	startFun

rule:	
	allumeLampe
conditions:	
	bascule.switchButton==4
actions:
	ToutOuvrir
	
rule:	
	fermeLampe
conditions:	
	bascule.switchButton==3
actions:
	ToutFermer

rule:	
	slideSuivante
conditions:	
	bascule.switchButton==1
actions:
	nextSlide

rule:	
	slidePrecedente
conditions:	
	bascule.switchButton==2
actions:
	previousSlide

rule:	
	temperature
conditions:	
	salon>5
	intrusion.presence<=20
	intrusion.luminosite<=20
actions:
	ToutOuvrir
	
rule:
	cafe
conditions:
	aileEst<=5	
	aileOuest==35
actions:
	ToutOuvrir
